In [6]:
import pandas as pd 

def create_data(input_data):
    file = open(input_data,"r") #open file
    
    data = pd.read_table(file, delim_whitespace=True); 
  
    file.close() #close file
    return data

data = create_data("flare.data1.txt")

In [7]:
data

,z-class,largest-spot,spot-distribution,activity,evolution,day-activity,hist-complex,sun-disk,area,area-spot,c,m,x
0,C,S,O,1,2,1,1,2,1,2,0,0,0
1,D,S,O,1,3,1,1,2,1,2,0,0,0
2,C,S,O,1,3,1,1,2,1,1,0,0,0
3,D,S,O,1,3,1,1,2,1,2,0,0,0
4,D,A,O,1,3,1,1,2,1,2,0,0,0
5,D,A,O,1,2,1,1,2,1,2,0,0,0
6,D,A,O,1,2,1,1,2,1,1,0,0,0
7,D,A,O,1,2,1,1,2,1,2,0,0,0
8,D,K,O,1,3,1,1,2,1,2,0,0,0
9,C,R,O,1,3,1,1,2,1,1,0,0,0
10,B,X,O,1,3,1,1,2,1,1,0,0,0
11,D,S,O,1,2,1,1,2,1,1,0,0,0
12,C,H,I,1,3,1,1,2,1,2,0,0,0
13,D,R,O,1,3,1,1,2,1,1,0,0,0
14,B,X,O,1,2,1,1,2,1,1,0,0,0
15,B,X,O,1,3,1,1,2,1,1,0,0,0
16,D,K,I,1,3,1,1,2,1,2,0,0,0
17,D,S,O,1,2,1,1,2,1,2,0,0,0
18,D,R,O,1,2,1,1,2,1,1,0,0,0
19,C,A,I,1,2,1,1,2,1,2,0,0,0
20,C,S,O,1,2,1,1,2,1,1,0,0,0
21,B,X,O,1,3,1,1,2,1,1,0,0,0
22,F,K,I,1,3,1,2,2,1,2,0,0,0
23,B,X,O,1,2,1,1,2,1,1,0,0,0
24,H,R,X,1,2,1,1,1,1,2,0,0,0
25,B,X,I,1,3,1,1,2,1,1,0,0,0
26,C,R,I,1,3,1,1,2,1,2,0,0,0
27,B,X,O,1,3,1,1,2,1,1,0,0,0
28,B,X,O,1,3,1,1,2,1,2,0,0,0
29,D,A,I,1,3,1,2,2,1,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,H,S,X,1,2,1,1,2,1,2,0,0,0
294,D,K,C,2,2,3,2,2,2,2,1,2,0
295,H,S,X,1,1,1,2,2,1,2,0,0,0
296,E,S,I,1,3,1,1,2,1,2,0,0,0
297,H,S,X,1,2,1,2,2,1,2,0,0,0
298,F,S,O,1,2,1,2,2,1,2,0,0,0
299,E,S,O,2,2,3,2,2,1,2,0,1,0
300,H,S,X,1,2,1,1,2,1,2,0,0,0
301,D,K,C,2,2,1,2,2,2,2,1,1,0
302,H,S,X,1,2,1,2,2,1,2,0,0,0
303,C,S,O,1,2,1,2,2,1,2,0,0,0
304,B,X,O,1,3,1,1,2,1,1,0,0,0
305,B,X,O,1,3,1,1,2,1,1,0,0,0
306,H,S,X,1,3,1,1,1,1,2,0,0,0
307,H,S,X,1,2,1,2,2,1,2,0,0,0
308,E,A,O,2,3,1,2,2,1,2,0,0,0
309,H,S,X,1,3,1,1,2,1,2,0,0,0
310,D,K,C,2,2,3,2,2,2,2,1,0,1
311,H,S,X,1,3,1,2,2,1,2,0,0,0
312,C,A,O,1,2,1,2,2,1,2,0,0,0
313,D,A,O,1,3,1,1,2,1,2,0,0,0
314,D,S,O,1,3,1,1,2,1,2,0,0,0
315,C,S,O,1,1,3,2,2,1,2,0,0,0
316,H,S,X,1,2,1,1,2,1,2,0,0,0
317,D,K,C,2,3,3,2,2,2,2,0,0,0
318,C,R,O,1,2,1,2,2,1,2,0,0,0
319,D,R,O,1,3,1,1,2,1,2,0,0,0
320,E,A,O,1,3,1,1,2,1,2,0,0,0
321,C,R,O,1,3,1,1,2,1,1,0,0,0
322,E,K,C,1,3,1,1,2,2,2,0,2,0

In [67]:
import sklearn.preprocessing
from sklearn_pandas import DataFrameMapper
from sklearn.model_selection import train_test_split

def split_data(data):
     #transform data
    mapper = DataFrameMapper([
    (['z-class'], sklearn.preprocessing.LabelBinarizer()), 
    (['largest-spot'], sklearn.preprocessing.LabelBinarizer()),
    (['spot-distribution'], sklearn.preprocessing.LabelBinarizer()),
    (['activity'], sklearn.preprocessing.StandardScaler()),
    (['evolution'], sklearn.preprocessing.StandardScaler()), 
    (['day-activity'], sklearn.preprocessing.StandardScaler()),
    (['hist-complex'], sklearn.preprocessing.StandardScaler()),
    (['sun-disk'], sklearn.preprocessing.StandardScaler()),
    (['area'], sklearn.preprocessing.StandardScaler()),
    (['area-spot'], sklearn.preprocessing.StandardScaler()),
    (['c'], sklearn.preprocessing.StandardScaler()),
    (['m'], sklearn.preprocessing.StandardScaler()),
    (['x'], sklearn.preprocessing.StandardScaler())])
    
    """classification_map = {
                          '0': 0,
                          '1': 1,
                          '2': 2,
                          '4': 4
                          }"""
    
    #df = mapper.fit_transform(data)
    
    #split data into training and testing data
    x = data[data.columns.drop('c').drop('m').drop('x')]
    y = data['c']
   
    x_train, x_test, y_train, y_test = train_test_split(x, y)
    return (x_train, x_test, y_train, y_test, mapper)

In [68]:
(x_train, x_test, y_train, y_test, mapper) = split_data(data)

In [69]:
(x_train, x_test, y_train, y_test)

(    z-class largest-spot spot-distribution  activity  evolution  day-activity  \
 215       B            X                 I         1          3             1
 266       C            S                 O         1          3             1
 241       E            K                 I         2          2             3
 158       B            X                 O         1          2             1
 17        D            S                 O         1          2             1
 265       E            K                 C         1          3             1
 282       B            X                 O         1          3             1
 169       C            A                 I         1          3             1
 71        C            R                 O         1          3             1
 227       B            X                 O         1          2             1
 295       H            S                 X         1          1             1
 140       C            R                 O         1          3             1
 271       H            R                 X         1          3             1
 0         C            S                 O         1          2             1
 93        H            S                 X         1          3             1
 187       H            S                 X         1          1             1
 178       D            S                 O         1          2             1
 136       C            K                 O         1          2             1
 51        B            X                 O         1          3             1
 3         D            S                 O         1          3             1
 239       C            R                 O         1          1             1
 145       D            S                 I         1          3             1
 127       D            R                 O         1          3             1
 243       C            S                 O         1          2             1
 310       D            K                 C         2          2             3
 49        D            S                 O         1          3             1
 81        H            R                 X         1          2             1
 228       C            A                 O         1          3             1
 172       D            S                 O         1          2             1
 242       E            K                 I         1          3             1
 ..      ...          ...               ...       ...        ...           ...
 208       C            K                 I         1          3             1
 224       C            R                 O         1          3             1
 119       B            X                 O         1          3             1
 177       C            S                 I         2          2             1
 83        H            S                 X         1          3             1
 260       H            R                 X         1          2             1
 164       H            R                 X         1          2             1
 124       C            R                 I         2          3             3
 24        H            R                 X         1          2             1
 238       H            R                 X         1          2             1
 180       B            X                 O         1          3             1
 286       H            H                 X         1          3             1
 219       C            R                 O         1          2             3
 244       D            K                 C         1          3             1
 100       H            R                 X         1          2             1
 72        H            S                 X         1          2             1
 205       C            H                 I         2          3             1
 188       H            R                 X         1          2             1
 148       H            S                 X         1          2             1
 179       D            S                 O         1          3             1
 118       B            X                 O         1          3             1
 25        B            X                 I         1          3             1
 18        D            R                 O         1          2             1
 272       E            A                 I         1          3             1
 43        D            S                 O         1          1             1
 32        D            A                 I         1          3             1
 30        D            A                 O         1          3             1
 103       H            S                 X         2          2             1
 299       E            S                 O         2          2             3
 28        B            X                 O         1          3             1

      hist-complex  sun-disk  area  area-spot
 215             1         2     1          1
 266             1         2     1          2
 241             2         2     1          2
 158             1         2     1          1
 17              1         2     1          2
 265             2         2     1          2
 282             1         2     1          1
 169             1         2     1          2
 71              1         2     1          1
 227             1         2     1          1
 295             2         2     1          2
 140             1         2     1          1
 271             1         2     1          2
 0               1         2     1          2
 93              1         1     1          2
 187             1         2     1          2
 178             2         2     1          2
 136             2         2     1          2
 51              1         2     1          1
 3               1         2     1          2
 239             2         2     1          1
 145             1         2     1          1
 127             1         2     1          2
 243             1         2     1          2
 310             2         2     2          2
 49              2         2     1          2
 81              1         2     1          2
 228             2         2     1          2
 172             1         2     1          2
 242             1         2     1          2
 ..            ...       ...   ...        ...
 208             1         2     1          1
 224             1         2     1          2
 119             1         2     1          1
 177             1         2     1          2
 83              1         1     1          2
 260             1         1     1          1
 164             1         1     1          2
 124             1         2     1          2
 24              1         1     1          2
 238             1         1     1          2
 180             1         2     1          2
 286             1         2     1          2
 219             1         2     1          2
 244             2         2     1          2
 100             1         2     1          2
 72              1         1     1          2
 205             1         2     1          2
 188             1         2     1          2
 148             1         1     1          2
 179             1         2     1          2
 118             1         2     1          1
 25              1         2     1          1
 18              1         2     1          1
 272             1         2     1          2
 43              1         2     1          1
 32              1         2     1          2
 30              1         2     1          2
 103             1         2     1          2
 299             2         2     1          2
 28              1         2     1          2

 [242 rows x 10 columns],
     z-class largest-spot spot-distribution  activity  evolution  day-activity  \
 98        C            K                 I         1          3             1
 174       C            S                 O         1          2             1
 14        B            X                 O         1          2             1
 268       C            S                 O         1          2             1
 290       H            S                 X         1          2             1
 159       H            S                 X         1          2             1
 143       C            K                 I         1          2             1
 281       E            A                 I         1          3             1
 4         D            A                 O         1          3             1
 107       D            K                 C         1          3             3
 48        B            X                 O         1          2             1
 113       H            K                 X         2          2             3
 142       C            A                 O         1          3             1
 99        E            A                 C         1          3             1
 264       F            A                 I         2          3             3
 59        D            A                 I         1          2             1
 96        C            S                 O         1          1             3
 5         D            A                 O         1          2             1
 321       C            R                 O         1          3             1
 183       C            R                 I         1          3             1
 252       C            R                 I         1          3             1
 160       C            S                 O         1          3             1
 23        B            X                 O         1          2             1
 248       H            R                 X         1          3             1
 184       B            X                 O         1          2             3
 304       B            X                 O         1          3             1
 114       D            K                 I         1          3             1
 45        D            A                 I         1          3             1
 165       C            S                 O         2          2             1
 15        B            X                 O         1          3             1
 ..      ...          ...               ...       ...        ...           ...
 232       H            S                 X         1          3             1
 87        C            S                 O         2          2             1
 195       B            X                 O         1          2             1
 207       B            X                 O         1          3             1
 39        D            A                 I         1          2             1
 303       C            S                 O         1          2             1
 307       H            S                 X         1          2             1
 128       H            K                 X         1          2             1
 163       B            X                 O         2          1             1
 123       B            X                 O         1          3             1
 162       H            A                 X         1          3             1
 245       B            X                 O         1          3             1
 154       C            A                 I         1          3             1
 214       B            X                 I         1          2             1
 194       H            S                 X         1          2             1
 121       C            K                 I         1          3             1
 116       C            R                 O         1          1             1
 84        C            S                 O         1          1             1
 13        D            R                 O         1          3             1
 274       H            S                 X         2          3             1
 9         C            R                 O         1          3             1
 37        D            A                 I         1          2             1
 40        B            X                 O         1          3             1
 70        B            X                 O         1          3             1
 293       H            S                 X         1          2             1
 60        B            X                 O         1          3             1
 176       C            S                 O         1          2             1
 94        C            S                 O         1          2             1
 65        C            S                 O         1          2             1
 7         D            A                 O         1          2             1

      hist-complex  sun-disk  area  area-spot
 98              2         2     1          2
 174             1         2     1          2
 14              1         2     1          1
 268             2         2     1          2
 290             2         2     1          2
 159             1         1     1          2
 143             2         2     1          2
 281             2         2     1          2
 4               1         2     1          2
 107             2         2     1          2
 48              1         2     1          1
 113             2         2     1          2
 142             2         2     1          2
 99              2         2     1          2
 264             2         2     1          2
 59              1         2     1          2
 96              2         2     1          2
 5               1         2     1          2
 321             1         2     1          1
 183             1         2     1          2
 252             1         2     1          2
 160             1         2     1          2
 23              1         2     1          1
 248             1         2     1          2
 184             2         2     1          2
 304             1         2     1          1
 114             2         2     1          2
 45              2         2     1          2
 165             2         2     1          2
 15              1         2     1          1
 ..            ...       ...   ...        ...
 232             1         2     1          2
 87              2         2     1          1
 195             1         2     1          1
 207             1         2     1          2
 39              2         2     1          2
 303             2         2     1          2
 307             2         2     1          2
 128             2         2     1          2
 163             1         2     1          1
 123             1         2     1          1
 162             1         1     1          2
 245             1         2     1          1
 154             1         2     1          2
 214             2         2     1          2
 194             1         2     1          2
 121             2         2     1          2
 116             1         2     1          2
 84              2         2     1          2
 13              1         2     1          1
 274             2         2     1          2
 9               1         2     1          1
 37              2         2     1          1
 40              1         2     1          1
 70              1         2     1          1
 293             1         2     1          2
 60              1         2     1          1
 176             1         2     1          2
 94              1         2     1          2
 65              2         2     1          2
 7               1         2     1          2

 [81 rows x 10 columns],
 215    0
 266    0
 241    0
 158    0
 17     0
 265    0
 282    0
 169    0
 71     0
 227    0
 295    0
 140    0
 271    0
 0      0
 93     0
 187    0
 178    2
 136    0
 51     0
 3      0
 239    0
 145    0
 127    0
 243    0
 310    1
 49     0
 81     0
 228    0
 172    1
 242    0
       ..
 208    0
 224    0
 119    1
 177    0
 83     0
 260    0
 164    0
 124    0
 24     0
 238    0
 180    0
 286    0
 219    0
 244    1
 100    0
 72     0
 205    0
 188    0
 148    0
 179    1
 118    0
 25     0
 18     0
 272    0
 43     0
 32     0
 30     1
 103    0
 299    0
 28     0
 Name: c, dtype: int64,
 98     0
 174    0
 14     0
 268    0
 290    0
 159    0
 143    0
 281    0
 4      0
 107    0
 48     0
 113    0
 142    0
 99     0
 264    0
 59     0
 96     0
 5      0
 321    0
 183    0
 252    0
 160    0
 23     0
 248    0
 184    0
 304    0
 114    0
 45     2
 165    0
 15     0
       ..
 232    0
 87     0
 195    0
 207    1
 39     0
 303    0
 307    0
 128    0
 163    1
 123    0
 162    2
 245    0
 154    0
 214    0
 194    0
 121    0
 116    0
 84     0
 13     0
 274    0
 9      0
 37     1
 40     0
 70     0
 293    0
 60     0
 176    0
 94     1
 65     0
 7      0
 Name: c, dtype: int64)

In [70]:
mapper

DataFrameMapper(default=False, df_out=False,
        features=[(['z-class'], LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)), (['largest-spot'], LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)), (['spot-distribution'], LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)), (['activity'], StandardScaler(copy=True, ... with_mean=True, with_std=True)), (['x'], StandardScaler(copy=True, with_mean=True, with_std=True))],
        input_df=False, sparse=False)

In [42]:
from sklearn.neural_network import MLPClassifier

def train_data(x_train, x_test, y_train, y_test):
    NUMBER_OF_LAYERS = 20
    
    mlp = MLPClassifier(hidden_layer_sizes=(NUMBER_OF_LAYERS,),
                        )
    return mlp

In [49]:
mlp = train_data(x_train, x_test, y_train, y_test)

In [54]:
x_train

,z-class,largest-spot,spot-distribution,activity,evolution,day-activity,hist-complex,sun-disk,area,area-spot
154,C,A,I,1,3,1,1,2,1,2
147,B,X,O,2,2,1,1,2,1,1
219,C,R,O,1,2,3,1,2,1,2
123,B,X,O,1,3,1,1,2,1,1
173,C,S,O,1,1,1,2,2,1,2
20,C,S,O,1,2,1,1,2,1,1
108,D,A,I,2,2,3,2,2,1,2
280,B,X,O,1,3,1,1,2,1,1
82,B,X,O,1,2,1,1,2,1,1
69,B,X,O,1,3,1,1,2,1,1
98,C,K,I,1,3,1,2,2,1,2
54,D,A,I,1,3,1,2,2,1,2
213,B,X,O,1,3,1,1,2,1,2
215,B,X,I,1,3,1,1,2,1,1
268,C,S,O,1,2,1,2,2,1,2
73,D,A,O,1,2,1,2,2,1,2
292,E,A,I,2,2,1,2,2,1,2
62,D,K,C,2,3,3,2,2,1,2
281,E,A,I,1,3,1,2,2,1,2
92,H,R,X,1,2,1,1,2,1,2
287,D,K,C,2,2,1,2,2,2,2
312,C,A,O,1,2,1,2,2,1,2
179,D,S,O,1,3,1,1,2,1,2
218,F,K,I,1,2,1,2,2,1,2
83,H,S,X,1,3,1,1,1,1,2
165,C,S,O,2,2,1,2,2,1,2
190,C,R,I,1,2,1,1,2,1,2
177,C,S,I,2,2,1,1,2,1,2
139,B,X,O,1,2,1,1,2,1,1
288,C,A,O,1,3,1,2,2,1,2
...,...,...,...,...,...,...,...,...,...,...
127,D,R,O,1,3,1,1,2,1,2
248,H,R,X,1,3,1,1,2,1,2
21,B,X,O,1,3,1,1,2,1,1
26,C,R,I,1,3,1,1,2,1,2
284,F,K,I,1,3,3,2,2,2,2
269,C,R,O,1,2,1,2,2,1,1
31,B,X,O,1,3,1,1,2,1,1
209,C,A,O,1,2,1,1,2,1,2
119,B,X,O,1,3,1,1,2,1,1
96,C,S,O,1,1,3,2,2,1,2
293,H,S,X,1,2,1,1,2,1,2
259,H,A,X,1,3,1,2,2,1,2
100,H,R,X,1,2,1,1,2,1,2
162,H,A,X,1,3,1,1,1,1,2
161,C,S,O,1,3,1,1,2,1,2
148,H,S,X,1,2,1,1,1,1,2
205,C,H,I,2,3,1,1,2,1,2
250,H,R,X,1,2,1,1,1,1,2
32,D,A,I,1,3,1,1,2,1,2
124,C,R,I,2,3,3,1,2,1,2
245,B,X,O,1,3,1,1,2,1,1
258,D,S,I,1,3,1,2,2,1,2
84,C,S,O,1,1,1,2,2,1,2
261,H,S,X,1,2,1,1,2,1,2
309,H,S,X,1,3,1,1,2,1,2
283,H,K,X,1,2,1,2,2,1,2
126,B,X,O,1,3,1,1,2,1,1
289,E,K,I,1,3,1,1,2,1,2
277,H,S,X,1,3,1,1,2,1,2
306,H,S,X,1,3,1,1,1,1,2

In [55]:
x_test

,z-class,largest-spot,spot-distribution,activity,evolution,day-activity,hist-complex,sun-disk,area,area-spot
142,C,A,O,1,3,1,2,2,1,2
163,B,X,O,2,1,1,1,2,1,1
181,C,A,O,1,3,1,1,2,1,2
256,H,S,X,1,2,1,1,2,1,2
59,D,A,I,1,2,1,1,2,1,2
66,D,S,I,1,3,1,2,2,1,2
310,D,K,C,2,2,3,2,2,2,2
225,D,S,I,1,2,1,2,2,1,2
295,H,S,X,1,1,1,2,2,1,2
155,H,S,X,1,3,1,1,1,1,2
278,D,K,C,2,3,3,2,2,2,2
229,D,H,I,1,3,1,1,2,1,2
51,B,X,O,1,3,1,1,2,1,1
195,B,X,O,1,2,1,1,2,1,1
91,D,K,I,1,3,1,2,2,1,2
157,C,S,O,1,2,3,2,2,1,2
141,B,X,I,1,3,1,1,2,1,1
55,B,X,O,1,3,1,1,2,1,1
36,C,A,I,1,3,1,1,2,1,1
200,B,X,O,1,3,1,1,2,1,2
13,D,R,O,1,3,1,1,2,1,1
140,C,R,O,1,3,1,1,2,1,1
208,C,K,I,1,3,1,1,2,1,1
317,D,K,C,2,3,3,2,2,2,2
35,D,A,O,1,2,1,1,2,1,1
81,H,R,X,1,2,1,1,2,1,2
211,B,X,O,1,3,1,1,2,1,2
113,H,K,X,2,2,3,2,2,1,2
204,D,A,I,1,3,1,1,2,1,2
301,D,K,C,2,2,1,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...
168,C,S,O,1,2,1,1,2,1,2
152,H,S,X,1,3,1,1,1,1,2
234,B,X,O,1,3,1,1,2,1,1
39,D,A,I,1,2,1,2,2,1,2
10,B,X,O,1,3,1,1,2,1,1
111,C,S,I,2,3,3,1,2,1,1
15,B,X,O,1,3,1,1,2,1,1
3,D,S,O,1,3,1,1,2,1,2
270,B,X,O,1,3,1,1,2,1,1
50,D,S,O,1,3,1,1,2,1,1
257,D,K,C,1,3,1,2,2,1,2
189,H,A,X,1,2,1,1,2,1,2
95,C,K,O,1,2,3,2,2,1,2
46,D,A,I,2,3,1,2,2,1,1
37,D,A,I,1,2,1,2,2,1,1
48,B,X,O,1,2,1,1,2,1,1
240,D,H,I,2,3,3,2,2,1,2
151,B,X,O,1,3,1,1,2,1,2
199,D,A,I,1,3,1,1,2,1,2
286,H,H,X,1,3,1,1,2,1,2
243,C,S,O,1,2,1,1,2,1,2
1,D,S,O,1,3,1,1,2,1,2
271,H,R,X,1,3,1,1,2,1,2
12,C,H,I,1,3,1,1,2,1,2
314,D,S,O,1,3,1,1,2,1,2
77,C,A,O,1,2,1,2,2,1,2
194,H,S,X,1,2,1,1,2,1,2
134,D,R,O,2,2,1,1,2,1,2
132,B,X,O,1,3,1,1,2,1,1
49,D,S,O,1,3,1,2,2,1,2

In [56]:
y_test

142    0
163    1
181    0
256    0
59     0
66     0
310    1
225    0
295    0
155    0
278    0
229    0
51     0
195    0
91     0
157    0
141    0
55     0
36     0
200    0
13     0
140    0
208    0
317    0
35     0
81     0
211    0
113    0
204    0
301    1
      ..
168    0
152    0
234    0
39     0
10     0
111    0
15     0
3      0
270    0
50     0
257    0
189    0
95     0
46     0
37     1
48     0
240    0
151    0
199    0
286    0
243    0
1      0
271    0
12     0
314    0
77     0
194    0
134    1
132    0
49     0
Name: c, dtype: int64

In [52]:
from sklearn.pipeline import Pipeline

def fit_data(mlp, mapper, x_train, y_train):
    pipeline = Pipeline([
    ('mapper', mapper),
    ('classifier', mlp)
    ])

    model = pipeline.fit(X=x_train, y=y_train)
    
    return model

In [71]:
model = fit_data(mlp, mapper, x_train, y_train)

C:\Users\Fran Callejas\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

KeyError: "['c']: ['c'] not in index"